<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.irelandlight.dao.AddressMapper">
    <!-- 为Dao方法提供sql语句配置 -->
    <select id="findConsumerNameById" resultType="String" parameterType="java.lang.Long">
        SELECT consumer_name
        FROM tb_address
        WHERE consumer_id = #{VALUE}
    </select>

    <select id="countAddress" resultType="int">
        SELECT count(*) FROM tb_address
    </select>
    
    <insert id="addNewAddress" parameterType="com.irelandlight.model.vo.SaveAddress">
        INSERT INTO tb_address(
            consumer_id,
            consumer_name,
            consumer_phone,
            province,
            city,
            district,
            street,
            detail,
            post)
       VALUES
           (#{consumerId},
           #{consumerName},
           #{consumerPhone},
           #{province},
           #{city},
           #{district},
           #{street},
           #{detail},
           #{post})
    </insert>

    <select id="findAddressListByConsumerId" resultType="com.irelandlight.model.vo.AddressShow">

      SELECT tb_address.id addressId,
      tb_address.consumer_name,
      tb_address.consumer_phone,
      tb_address.province,
      tb_address.city,
      tb_address.district,
      tb_address.street,
      tb_address.detail
      FROM tb_consumer,tb_address
      WHERE tb_consumer.default_address_id = tb_address.id
      AND tb_address.consumer_id = #{consumerId}
    </select>

</mapper>