<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.irelandlight.mapper.HomePageMapper">

    <!--首页轮播图 -->
    <select id="selectHomePageImage" resultType="com.irelandlight.vo.HomePageImage" >
        SELECT id,url
        FROM cake_data.tb_home_rotation
    </select>

    <!--首页公告 -->
    <select id="selectNewsContent" resultType="com.irelandlight.vo.NewsContent" >
        SELECT id,content,title,productor_id
        FROM cake_data.tb_news
        WHERE visibility=0
    </select>

    <!--热门商品 -->
    <select id="selectHotGoods" resultType="com.irelandlight.vo.HotGoodsList" >
        SELECT tb_goods.id,tb_goods.`name`,tb_goods.min_price,tb_goods_image.url
        FROM tb_goods,tb_goods_image
        WHERE tb_goods.id=tb_goods_image.goods_id
        AND tb_goods_image.position=1
        AND	tb_goods_image.visibility=0
    </select>


</mapper>