<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.irelandlight.dao.LoginMapper">
    <!-- 为Dao方法提供sql语句配置 -->
<select id="findOneByUserName" parameterType="java.lang.String" resultType="com.irelandlight.model.vo.User">
   SELECT tb_consumer.user_name,
   tb_consumer.password
   FROM tb_consumer
   WHERE tb_consumer.user_name = #{userName}
</select>

</mapper>