<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>查询商品列表</title>
</head>
<body>
<form action="${pageContext.request.contextPath}goodsList.action" method="post">
    查询条件：
    <table width="100%" border=1>
        <tr>
            <td><input type="submit" value="查询"/></td>
        </tr>
    </table>
    商品列表：
    <table width="100%" border=1>
        <tr>
            <td>商品名称</td>
            <td>商品价格</td>
            <td>生产日期</td>
            <td>商品描述</td>
            <td>操作</td>
        </tr>
        <c:forEach goods="${goodsList}" var="goods">
            <tr>
                <td>${goods.name}</td>
                <td>${goods.price}</td>
                <td><fmt:formatDate value="${goods.createtime}" pattern="yyyy-MM-dd HH:mm:ss"/></td>
                <%--<td>${item.detail}</td>--%>

                <td><a href="${pageContext.request.contextPath}/goodsList.action?id=${goods.id}">修改</a></td>

            </tr>
        </c:forEach>

    </table>
</form>
</body>

</html>